INGESTION_PREFECT_API_URL=http://127.0.0.1:4200/api
INGESTION_POSTGRES_URL="postgresql://ingestion:ingestion@localhost:5432/ingestion"
INGESTION_ADMIN_NAME="admin"
INGESTION_ADMIN_EMAIL="admin@sinpi.software"
INGESTION_ADMIN_PASSWORD="adminpassword"
INGESTION_DEFAULT_TIMEZONE="America/New_York"
INGESTION_OPENROUTER_API_KEY=_insert_key_here_
